html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    height: 100%;
    background: var(--bodyback);
}

#header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

#modalOverlay {
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#logo {
    margin-right: auto;
    margin-left: 10px;
    padding: 15px;
    padding-top: 0;
    width: 95px;
    text-align: left;
    position: relative;
}

#logo img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: none;
}

#logo.animate img {
    animation: wobble 0.75s ease;
}

@keyframes wobble {
    0%, 100% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-10px) rotate(-10deg);
    }
    30% {
        transform: translateX(5px) rotate(10deg);
    }
    45% {
        transform: translateX(-5px) rotate(-5.56deg);
    }
    60% {
        transform: translateX(3px) rotate(3.33deg);
    }
    75% {
        transform: translateX(-1.82px) rotate(-2deg);
    }
}

.zzz-container {
    position: absolute;
    top: 0;
    left: 50px;
}

.zzz-animate {
    animation-name: zzz;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    color: rgba(54, 54, 54, 0);
    font-weight: bold;
    position: absolute;
    z-index: 1;
    transform: translateY(100%);
    font-family: 'sans-serif';
}

.zzz-z { animation-delay: 0s; right: 5px; }
.zzz-zz { animation-delay: 0.2s; right: -15px; }
.zzz-zzz { animation-delay: 0.4s; right: 0; }

@keyframes zzz {
    0% {
        color: rgba(54, 54, 54, 0);
        font-size: 1px;
        transform: translateY(100%);
    }
    95% {
        color: var(--secondary);
        font-size: 18px;
        transform: translateY(-100%);
    }
    100% {
        color: rgba(54, 54, 54, 0);
        font-size: 18px;
        transform: translateY(-100%);
    }
}

.pulse {
    animation: pulse 0.25s ease-in-out alternate;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.close {
	position: absolute;
	top: 2px;
	right: 4px;
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
	color: #ff5353;
	cursor: pointer;
	transition: color 0.25s ease;
}

.close:hover {
	color: #e71313;
}

#dataModal, #supportModal {
    display: none;
}

.modal-content {
    position: relative;
    background-color: var(--modeback);
    margin: 12% auto;
    padding: 50px 0px;
    width: 400px;
    text-align: center;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.modal-title {
    font-weight: bold;
    font-size: 22px;
    color: var(--modetext);
    text-transform: uppercase;
    margin: 18px;
    margin-top: 6px;
    margin-bottom: 8px;
}

.modal-content button {
    border: 2px solid var(--backtext);
    background: transparent;
    color: var(--modetext2);
    font-size: 15px;
    font-weight: bold;
    padding: 0 24px;
    cursor: pointer;
    border-radius: 4px;
    height: 40px;
    width: 200px;
    white-space: nowrap;
    text-transform: uppercase;
}

.modal-content button:hover {
    background: var(--bodyback);
}

#supportModal p {
    color: var(--modetext2);
    margin:0;
    padding: 0 30px;
    text-align: justify;
}

.crypto-key-box {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 14px 0;
    justify-content: center;
}

.crypto-icon {
    height: 32px;
    width: 32px;
}

.coin-address {
    flex: 1;
    width: 210px;
    font-size: 14px;
    padding: 8px;
    border: 2px solid var(--backtext);
    border-radius: 6px;
    background-color: var(--modeback);
    color: var(--modetext);
}