iframe {
    height: 100%;
    width: 100%;
    border: none;
}

#arrangeSpacer {
    height: 30px;
    text-align: right;
    margin-right: 25px;
    margin-top: -14px;
    display: flex;
    float: right;
    gap: 4px;
}

#arrangeSpacer button {
    border: 2px solid var(--backtext);
    background: transparent;
    color: var(--backtext);
    font-size: 15px;
    font-weight: bold;
    padding: 0 24px;
    cursor: pointer;
    border-radius: 4px;
    height: 30px;
    white-space: nowrap;
}

#arrangeSpacer button:hover {
    background: var(--modeback);
}

#sidePanel {
    position: fixed;
    display: flex;
    overflow: auto;
    flex-direction: column;
    top: 0;
    transform: translateX(320px);
    transition: transform 0.3s ease-in-out;
    right: 0;
    width: 250px;
    height: calc(100% - 40px);
    background-color: var(--bodyback);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 35px;
    padding-top: 30px;
    padding-bottom: 10px;
    z-index: 5;
}

#sidePanel.open {
    transform: translateX(0);
}

.sidepanel-footer {
    font-size: 12px;
    color: var(--backtext);
    text-align: center;
    margin-top: auto;
    margin-bottom: 0;
}

.sidepanel-footer a {
    color: var(--backtext);
    text-decoration: none;
    margin: 0 4px;
    font-size: 12px;
}

.sidepanel-footer a:hover {
    color: var(--modetext2);
    text-decoration: underline;
}

#sidepanel-footer-links {
    padding-top: 8px;
    margin-top: 10px;
    border-top: 1px solid var(--backtext);
}

#supportNT {
    color: var(--modetext2);
    background-color: var(--modeback);
    border-radius: 6px;
    padding: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease, color 0.2s ease;
}

#supportNT:hover {
    cursor: pointer;
    background-color: var(--main);
    color: var(--text);
}

#panelControls {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

#panelControls button {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--bodyback);
    color: var(--modetext2);
    border: 2px solid var(--backtext);
    position: relative;
}

#panelControls button:hover {
    background: var(--modeback);
}

#panelControls button span {
    line-height: 0;
    position: absolute;
    right: 12px;
    bottom: 50%;
    color: var(--secondary);
}

#panelControls button span.inf {
    font-size: 24px;
    bottom: 53%;
}

#panelControls #clearButton {
    color: #ff5353;
    border-color: #ff5353;
}

#panelContainer {
    height: calc(100% - 126px);
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    transition: width 0.3s ease-in-out;
}

#panelContainer.panels-shifted {
    width: calc(100% - 340px);
}

#panelOrderList {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 2px solid var(--backtext);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.panel-name-cell {
    background-color: var(--modeback);
    width: 100%;
    text-transform: capitalize;
    color: var(--modetext2);
}

.panel-delete-button {
    border: none;
    color: #ff5353;
    background: none;
    cursor: pointer;
}

.panel-delete-button:hover {
    color: #e71313;
}

#empty-panel-order-tr {
    display: block ruby;
    text-align: center;
}

#panelOrderList tr #empty-panel-order-td {
    font-style: italic;
    background-color: transparent;
    font-size: 20px;
    color: var(--backtext);
}

.panel {
    background-color: var(--bodyback);
    border: 1px solid var(--backtext);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 4px;
    transition: border-color 0.3s ease-in-out;
    position: relative;
}

.panel-number {
    display: none;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: var(--backtext);
    color: var(--modeback);
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
}

.panel.empty {
    border: 2px solid var(--main);
    color: var(--main);
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.panel.empty:hover {
    background-color: var(--modeback);
}

.panel.blank {
    background-color: transparent;
    border: 2px solid transparent;
}

.panel-popout, .panel-privacy {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.panel-popout:hover {
    color: var(--hover);
    font-size: 24px;
}

.panel-popout.popped {
    transform: scaleX(2) rotate(90deg);
    right: 10px;
}

.panel-popout {
    color: var(--main);
}

.panel-privacy {
    margin-right: 32px;
    color: var(--secondary);
}

.panel-privacy:hover {
    color: var(--secondaryhover);
}

.panel.shifted .panel-privacy {
    margin-right: 8px;
    color: var(--modetext2);
}

.panel.shifted .panel-privacy:hover {
    color: var(--modetext);
}

.flip-text {
    color: var(--modetext2);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.4;
}

.panel.popout {
    width: 72vw;
    position: absolute;
    justify-self: center;
    height: 80vh;
    z-index: 5;
}

@media (max-width: 900px) {
    #panelContainer {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .panel:nth-child(n+5) {
        display: none;
    }

    .panel.popout {
        width: 96vw;
    }
}

@-moz-document url-prefix() {
    .panel-popout {
        font-size: 24px;
    }

    .panel-popout:hover {
        font-size: 28px;
    }

    .panel-popout.popped {
        right: 2px;
    }
}