#main-container {
    padding-bottom: 0;
    height: 92vh;
    overflow: auto;
}

#assets-container {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 30px);
}

#title-container {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 44px;
    background: var(--bodyback);
    left: 0;
    width: calc(100% - 52px);
    padding-right: 51px;
    overflow: auto;
    border-top: 2px solid var(--modeback);
}

#due-btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    background-color: transparent;
    width: fit-content;
    border: none;
    font-size: 14px;
    color: var(--modetext2);
    padding: 8px;
    margin-left: 2px;
    white-space: nowrap;
    font-weight: bold;
    text-transform: uppercase;
}

#update-time {
    font-weight: bold;
    font-size: 14px;
}

#due-btn:hover {
    color: var(--main);
}

#due-btn.due {
    color: var(--secondary);
    font-weight: bold;
}

#due-btn.due:hover {
    color: var(--secondaryhover);
}

#due-btn.overdue {
    color: #ff5353;
    font-weight: bold;
    text-transform: uppercase;
}

#due-btn.overdue:hover {
    color: #e71313;
}

.negative {
    color: #ff5353;
    display: contents;
}

.account-title-container {
    display: inline-flex;
    align-items: center;
}

#net-worth-text {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--modetext2);
    margin-top: 8px;
    border-bottom: 1px solid var(--modetext2);
    padding-bottom: 8px;
}

#net-worth {
    font-size: 24px;
    line-height: 1.4;
    padding: 0 36px;
    color: var(--modetext);
    font-weight: bold;
}

.weekly-rate {
    display: inline;
    font-size: 13px;
    font-weight: initial;
    margin-left: 5px;
}

#capital-debt-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
    text-align: center;
    padding-bottom: 10px;
}

#capital-container, #debt-container {
    width: 100%;
    position: relative;
}

#capital-container {
    padding-right: 8px;
}

#debt-container {
    padding-left: 8px;
}

#capital-text, #debt-text {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 4px;
    color: var(--modetext2);
}

#capital-total, #debt-total {
    font-weight: bold;
    color: var(--modetext);
}

#goals-list {
    margin: 10px 0;
}

#capital-list, #debt-list {
    margin: 8px 0;
}

#capital-list li div, #debt-list li div {
    flex: 1;
    overflow: auto;
    margin: 0 8px;
}

#capital-list li div:first-child, #debt-list li div:first-child {
    text-align: left;
    margin-left: 0;
}

#capital-list li div:last-child, #debt-list li div:last-child {
    text-align: right;
    margin-right: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 8px;
    color: var(--modetext);
    background-color: var(--modeback);
    border: 1px solid var(--modetext2);
    margin-bottom: 7px;
    border-radius: 4px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#goals-list li {
    border-color: var(--main);
    background-color: transparent;
}

.goals-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

.goal-title {
    flex: 3;
    text-transform: capitalize;
    font-size: 14px;
    word-break: break-word;
    margin-right: 10px;
}

.goal-date {
    margin-right: 0;
}

.goal-title, .goal-eta, .goal-date {
    overflow: auto;
 }

 .goal-eta, .goal-date {
    flex: 2;
    margin: 0 10px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    font-weight: bold;
}

.goal-action {
    display: flex;
    margin-left: 20px;
}

#goal-account {
    cursor: pointer;
}

#goal-account:hover {
    border: 1px solid var(--backtext);
}

#goal-account, #goal-value {
    background: var(--modeback);
    color: var(--modetext);
    font-size: 14px;
    padding: 8px;
    border: 1px solid var(--bodyback);
    border-radius: 4px;
}

.goal-account-name {
    font-size: 12px;
    vertical-align: top;
    color: var(--modetext2);
    overflow: auto;
    white-space: nowrap;
}

.remove-button {
    background-color: transparent;
    color: #ff5353;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 0;
    font-weight: bold;
}

.remove-button:hover {
    color: #e71313;
}

.add-button {
    background-color: transparent;
    color: var(--secondary);
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid var(--secondary);
    font-size: 16px;
    margin-left: 2px;
}

.add-button.add-accounts {
    position: relative;
    font-size: 18px;
    border: none;
    margin-bottom: 5px;
    padding: 0 5px;
    margin-left: 2px;
}

.add-button:hover {
    background-color: var(--secondary);
    color: var(--secondarytext);
}

.height-limit {
    max-height: 450px;
    overflow: auto;
}

#graph-container {
    margin-top: 34px;
    padding: 8px;
    padding-bottom: 0;
    flex-grow: 1;
}

#graph-controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#account-selector {
    background: var(--modeback);
    color: var(--modetext);
    font-size: 14px;
    padding: 8px;
    border: 1px solid var(--bodyback);
    border-radius: 4px;
    cursor: pointer;
}

#account-selector:hover {
    border: 1px solid var(--backtext);
}

#toggle-log-view {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: var(--secondary);
    padding: 4px 6px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    margin-left: 6px;
    display: flex;
    align-items: baseline;
    height: 1.4em;
}

#toggle-log-view:hover {
    background-color: var(--secondary);
    color: var(--secondarytext);
}

.log-view-pad {
    padding: 3px 6px !important;
    transform: rotate(270deg);
}

#graph-data {
    display: flex;
    justify-content: center;
    margin-bottom: 14px;
}

#account-graph {
    height: 100%;
    max-height: 450px;
}

#log-table {
    margin-top: 6px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: var(--modetext);
    font-size: 14px;
    margin-bottom: 14px;
}

#log-table thead {
    background-color: var(--main);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    color: var(--text);
}

#log-table th,
#log-table td {
    padding: 10px 15px;
}

#log-table tbody tr:first-child {
    font-weight: bold;
}

#log-table tbody tr:hover {
    outline: 1px solid var(--backtext);
}

.highest {
    background-color: #00ff0825;
}

.lowest {
    background-color: #ff000025;
}

@-moz-document url-prefix() {
    #toggle-log-view {
        padding: 0 8px;
        margin-left: 4px;
    }

    .log-view-pad {
        padding: 2px 8px !important;
        transform: rotate(270deg);
    }
}