body {
    margin: 0;
    height: 100%;
}

#initial-view {
    position: absolute;
    left: 50%;
    top: 47%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
}

#initial-img {
    height: 50px;
}

#main-content {
    padding: 8px;
    padding-bottom: 0;
    height: calc(100% - 60px);
    overflow: auto;
}

#title-container {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 44px;
    background: var(--bodyback);
    left: 0;
    width: calc(100% - 52px);
    padding-right: 51px;
    overflow: auto;
    border-top: 2px solid var(--modeback);
}

#main-title {
    color: var(--modetext2);
    font-size: 12px;
    padding: 8px;
    padding-right: 6px;
    margin-left: 2px;
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
}

#main-title:focus {
    cursor: text;
}

#refresh {
    color: var(--modetext);
    cursor: pointer;
}

#refresh:hover {
    color: var(--secondary);
}

#gmail-link {
    text-align: center;
    text-decoration: none;
    display: block;
    color: var(--modetext2);
    background: var(--modeback);
    font-size: 14px;
    padding-top: 4px;
}

#gmail-link img {
    height: 9px;
}

#gmail-link:hover {
    text-decoration: none;
    background-color: var(--main);
    color: var(--text);
    font-weight: bold;
}

#auth-buttons {
    top: 0;
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    left: 0;
}

#oauth-warning {
    color: var(--modetext2);
    text-align: center;
}

#oauth-warning p {
    position: relative;
    padding: 2px 12px;
    background-color: var(--bodyback);
    z-index: 2;
}

#oauth-warning p:first-of-type {
    margin-top: 12px;
}

#oauth-warning p:last-of-type {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0;
    font-size: 14px;
    margin: 0;
}

#oauth-warning a {
    color: var(--secondary);
    text-decoration: none;
}

#oauth-warning a:hover {
    color: var(--secondaryhover);
    text-decoration: underline;
}

#oauth-warning span {
    font-weight: bold;
}

#authorize-button, #signout-button {
    border: none;
    cursor: pointer;
    width: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

#authorize-button {
    padding: 12px 0;
    font-size: 14px;
    background-color: var(--main);
    color: var(--text);
    font-weight: bold;
}

#signout-button {
    background-color: var(--modeback);
    color: var(--modetext2);
    padding: 4px 0;
    font-size: 12px;
    text-decoration: underline;
}

#signout-button:hover {
    background-color: var(--secondary);
    color: var(--secondarytext);
    font-weight: bold;
}

#authorize-button:hover {
    background-color: var(--hover);
}

#email-list {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
}

#email-list span {
    margin-bottom: 10px;
    font-size: 14px;
    color: var(--main);
    text-align: center;
    font-weight: bold;
}

#email-list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#email-list ul li {
    padding: 7px;
    color: var(--modetext);
    background-color: var(--modeback);
    margin-bottom: 7px;
    border-radius: 4px;
    cursor: pointer;
}

#email-list ul li span {
    color: var(--modetext2);
    font-weight: normal;
}

#email-list ul li:hover {
    outline: 1px solid var(--modetext);
}

#email-list ul li.opened {
    background-color: var(--main);
    color: var(--text);
    font-weight: bold;
}

#email-list ul li.opened span {
    color: var(--text);
}

#email-container {
    text-align: center;
    display: block;
    background-color: #FFF;
    margin: 22px 0;
}

#content {
    max-height: 70vh;
    overflow: auto;
    width: 100%;
}

#email-positioner {
    width: 100%;
}