#panel-container {
    height: 100%;
    display: flex;
}

#main-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
}

#title-container {
    height: 36px;
    width: calc(100% - 52px);
    overflow: auto;
    align-content: center;
    display: flex;
    align-items: center;
}

#main-title {
    color: var(--modetext2);
    font-size: 12px;
    text-transform: uppercase;
    padding: 0;
    padding-top: 8px;
    margin-left: 2px;
    width: fit-content;
    white-space: nowrap;
    cursor: pointer;
}

#main-title:focus {
    cursor: text;
}

#sidebar {
    width: 0px;
    background-color: var(--modeback);
    padding: 0;
    margin-right: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    overflow: auto;
    position: relative;
    transition: width 0.3s ease-in-out;
}

#sidebar-title {
    color: var(--main);
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 10px 4px 10px;
    border-bottom: 1px solid var(--main);
}

#sidebar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 88%;
}

#sidebar-list li {
    padding: 8px;
    cursor: pointer;
    color: var(--modetext);
    font-size: 14px;
    word-wrap: anywhere;
    display: flex;
    padding-right: 32px;
    align-items: center;
    position: relative;
    text-transform: uppercase;
}

#sidebar-list li:hover {
    background-color: var(--bodyback);
}

#sidebar-list li.selected {
    background-color: var(--hover);    
    color: var(--text);
}

.remove-btn {
    background-color: var(--bodyback);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    color: #ff5353;
    font-size: 16px;
    position: absolute;
    right: 8px;
}

.remove-btn:hover {
    background-color: #e71313;
    color: #F5F5F5;
}

.new-btn {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: var(--modetext);
    background-color: var(--secondary);
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: var(--secondarytext);
}

.new-btn:hover {
    background-color: var(--secondaryhover);
}