body {
    height: 100%;
    margin: 0;
}

.negative {
    color: #ff5353;
}

#server-status {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    align-content: center;
    background-color: var(--bodyback);
    display: block;
    height: calc(100% - 60px);
}

#server-indicator {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--modetext2);
}

#main-container {
    padding-bottom: 0;
    height: calc(100% - 60px);
    overflow: auto;
}

#title-container {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0;
    height: 44px;
    background: var(--bodyback);
    left: 0;
    width: calc(100% - 52px);
    padding-right: 34px;
    overflow: auto;
    border-top: 2px solid var(--modeback);
}

#main-title {
    color: var(--modetext2);
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    padding-right: 6px;
    margin-left: 2px;
    width: fit-content;
    white-space: nowrap;
}

#trade-container {
    overflow: auto;
    padding: 16px 8px;
}

#graph-container {
    margin: 0;
    margin-top: 12px;
    margin-bottom: 18px;
    height: 50%;
}

#stats-container {
    margin-top: 42px;
    margin-bottom: 15px;
    margin-left: 4px;
    margin-right: 4px;
    overflow: auto;
}

#stats-table {
    border-collapse: collapse;
    width: 100%;
}

#stats-table th, #stats-table td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
}

#stats-table th {
    background-color: var(--modeback);
    font-weight: bold;
    color: var(--modetext2);
}

#stats-table tr {
    border-bottom: 1px solid var(--backtext);
}

#stats-table tr:last-child {
    border-bottom: none;
}

#stats-table tr td:first-child {
    font-size: 16px;
}

#stats-table td {
    background-color: var(--bodyback);
    color: var(--modetext2);
}

#stats-table tr:hover td {
    filter: contrast(94%);
}

#api-key-input {
    display: flex;
    height: calc(100% - 60px);
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#api-key-input input {
    padding: 10px;
    border-radius: 4px;
    background: var(--modeback);
    color: var(--modetext);
    font-size: 16px;
    border: 1px solid var(--bodyback);
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#api-key-input button {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: var(--secondary);
    color: var(--secondarytext);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#api-key-input button:hover {
    background-color: var(--secondaryhover);
}

#best-algorithm-panel {
    padding: 8px;
    text-align: center;
    border-top: 1px solid var(--modetext2);
}

#best-algorithm-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 0.9em;
}

#best-algorithm-name, #best-algorithm-gain {
    margin: 10px 4px;
}

#best-algorithm-name {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--secondary);
}

#best-algorithm-gain {
    color: var(--modetext);
}

#best-algorithm-percent-gain {
    font-weight: normal;
}

#best-algorithm-details {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#best-algorithm-details div {
    flex: 1;
    background: var(--modeback);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}

.best-algorithm-value {
    font-weight: bold;
    margin: 4px 0 !important;
}

#best-algorithm-details p {
    margin: 0;
    font-size: 0.7em;
    color: var(--modetext2);
}
