html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin: 0;
    height: 100%;
    background: var(--bodyback);
}

iframe {
    height: 100%;
    width: 100%;
    border: none;
}

#header {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
}

#modalOverlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    z-index: 3;
}

#logo {
    margin-right: auto;
    margin-left: 10px;
    padding: 15px;
    padding-top: 0;
    width: 95px;
    text-align: left;
    position: relative;
}

#logo img {
    cursor: pointer;
    height: 40px;
    width: 40px;
    border: none;
}

#logo.animate img {
    animation: wobble 0.75s ease;
}

@keyframes wobble {
    0%, 100% {
        transform: translateX(0%);
    }
    15% {
        transform: translateX(-10px) rotate(-10deg);
    }
    30% {
        transform: translateX(5px) rotate(10deg);
    }
    45% {
        transform: translateX(-5px) rotate(-5.56deg);
    }
    60% {
        transform: translateX(3px) rotate(3.33deg);
    }
    75% {
        transform: translateX(-1.82px) rotate(-2deg);
    }
}

.zzz-container {
    position: absolute;
    top: 0;
    left: 50px;
}

.zzz-animate {
    animation-name: zzz;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    color: rgba(54, 54, 54, 0);
    font-weight: bold;
    position: absolute;
    z-index: 1;
    transform: translateY(100%);
    font-family: 'sans-serif';
}

.zzz-z { animation-delay: 0s; right: 5px; }
.zzz-zz { animation-delay: 0.2s; right: -15px; }
.zzz-zzz { animation-delay: 0.4s; right: 0; }

@keyframes zzz {
    0% {
        color: rgba(54, 54, 54, 0);
        font-size: 1px;
        transform: translateY(100%);
    }
    95% {
        color: var(--secondary);
        font-size: 18px;
        transform: translateY(-100%);
    }
    100% {
        color: rgba(54, 54, 54, 0);
        font-size: 18px;
        transform: translateY(-100%);
    }
}

.pulse {
    animation: pulse 0.25s ease-in-out alternate;
}

@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

.close {
	position: absolute;
	top: 2px;
	right: 4px;
	padding: 5px;
	font-size: 24px;
	font-weight: bold;
	color: #ff5353;
	cursor: pointer;
	transition: color 0.25s ease;
}

.close:hover {
	color: #e71313;
}

#arrangeSpacer {
    height: 30px;
    text-align: right;
    margin-right: 25px;
    margin-top: -14px;
}

#arrangeButton {
    border: 2px solid var(--backtext);
    background: transparent;
    color: var(--backtext);
    font-size: 14px;
    font-weight: bold;
    padding: 0 19px;
    cursor: pointer;
    border-radius: 8px;
    height: 30px;
    white-space: nowrap;
}

#arrangeButton:hover {
    background: var(--modeback);
}

#sidePanel {
    position: fixed;
    top: 0;
    right: -320px;
    width: 250px;
    height: 100%;
    background-color: var(--bodyback);
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    transition: right 0.3s ease-in-out;
    padding: 35px;
    z-index: 5;
}

#panelControls {
    display: flex;
    flex-direction: column;
}

#panelControls button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: var(--bodyback);
    color: var(--modetext2);
    border: 2px solid var(--backtext);
}

#panelControls button:hover {
    background: var(--modeback);
}

#panelControls #clearButton {
    color: #ff5353;
    border-color: #ff5353;
}

#panelContainer {
    height: calc(100% - 90px - 36px);
    width: calc(100% - 20px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
    transition: width 0.3s ease-in-out;
}

#panelOrderList {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-bottom: 2px solid var(--backtext);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.panel-name-cell {
    background-color: var(--modeback);
    width: 100%;
    text-transform: capitalize;
    color: var(--modetext2);
}

.panel-delete-button {
    border: none;
    color: #ff5353;
    background: none;
    cursor: pointer;
}

.panel-delete-button:hover {
    color: #e71313;
}

#empty-panel-order-tr {
    display: block ruby;
    text-align: center;
}

#panelOrderList tr #empty-panel-order-td {
    font-style: italic;
    background-color: transparent;
    font-size: 20px;
    color: var(--backtext);
}

.panel {
    background-color: transparent;
    border: 2px solid var(--backtext);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
    position: relative;
}

.panel-number {
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    background-color: var(--backtext);
    color: var(--modeback);
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
}

.panel.empty {
    border: 2px solid var(--main);
    color: var(--main);
    font-size: 2em;
    font-weight: bold;
    cursor: pointer;
}

.panel.empty:hover {
    background-color: var(--modeback);
}

.panel.blank {
    border: 2px solid transparent;
}