#urlButtonContainer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    background: transparent;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

#urlButtons {
    display: flex;
    overflow-x: auto;
    max-width: 50vw;
    white-space: nowrap;
}

.urlButton {
    border: 2px dashed var(--backtext);
    border-right: none;
    color: var(--backtext);
    background: transparent;
    cursor: pointer;
    font-size: 1em;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin: 15px 0 15px 8px;
}

.urlButton:hover {
    background: var(--modeback);
}

#quickLinkContent {
    display: none;
    width: 375px;
    position: fixed;
    left: 50%;
    bottom: 52%;
    transform: translate(-50%, 50%);
    background: var(--modeback);
    color: var(--modetext);
    border: 1px solid var(--modetext);
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    z-index: 3;
}

#quickLinkContent.show {
    display: block;
    opacity: 1;
}

#quickLinkContent h1 {
    padding-top: 10px;
    padding-bottom: 18px;
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.5;
}

.minusButton {
    border: 2px solid #ff5353;
    background: transparent;
    color: #ff5353;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 15px 0;
}

.minusButton:hover {
    color: var(--backtext);
    background: #ff5353;
}

.urlButton.initial,
.minusButton.initial {
    display: none;
}

#editButton {
    border: 2px solid var(--top);
    background: transparent;
    color: var(--top);
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border-radius: 8px;
    margin: 15px 8px 15px 0;
    width: 30px;
    height: 30px;
    display: none;
}

#editButton:hover {
    background: var(--top);
    color: var(--backtext);
}

#openAllUrlsButton {
    border: 2px solid var(--backtext);
    background: transparent;
    color: var(--backtext);
    font-size: 0.8em;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    margin: 15px 0 15px 4px;
    height: 30px;
    white-space: nowrap;
}

#openAllUrlsButton:hover {
    background: var(--modeback);
}

#urlDivider {
    border-left: 2px solid var(--backtext);
    height: 30px;
    margin: 5px 12px;
    display: none;
}

.hasSeturlButtons #urlDivider {
    display: block;
}

@media (max-width: 800px) {
    #urlButtons {
        max-width: 30vw;
    }
}

@media (max-width: 570px) {
    #urlButtons {
        max-width: 18vw;
    }
}