html {
    height: 100%;
}

#note-editor {
    resize: none;
    box-sizing: border-box;
    background: var(--modeback);
    color: var(--modetext);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid var(--bodyback);
    border-radius: 4px;
    padding: 10px;
    height: 100%;
    width: 100%;
    text-align: left;
}