html {
    height: 100%;
}

#note-editor {
    resize: none;
    box-sizing: border-box;
    background: var(--modeback);
    color: var(--modetext);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    border: 1px solid var(--bodyback);
    border-radius: 8px;
    padding: 10px;
    height: 100%;
    width: 100%;
    text-align: left;
}

#note-editor-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

#note-title {
    color: var(--modetext2);
    font-size: 16px;
    padding: 0;
    padding-top: 2px;
    width: calc(100% - 34px);
    overflow: auto;
    white-space: nowrap;
    height: 36px;
    align-content: center;
}