<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/panels/common.css">
<link rel="stylesheet" href="../static/css/panels/bingo.css">
<script type="text/javascript" src="../static/js/panels/common.js"></script>
<script type="text/javascript" src="../static/js/default/confetti.js"></script>
<script type="text/javascript" src="../static/js/panels/bingo.js"></script>

<div id="main-container">
	<div id="bingo-container">
		<div id="bingo-board"></div>
	</div>

	<div id="title-container">
		<div id="main-title"></div>
	</div>
</div>