<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="../static/css/panels/common.css">
<link rel="stylesheet" href="../static/css/panels/trade.css">
<script type="text/javascript" src="../static/js/panels/common.js"></script>
<script type="text/javascript" src="../static/js/panels/trade.js"></script>

<div id="main-container">
    <div id="trade-container">
        <div id="input-container">
            <input id="stock-input" type="text" placeholder="Enter stock symbol" />
            <button id="add-btn" onclick="addStock()">+</button>
        </div>

        <div id="stocks-container"></div>
        <div id="loader" class="loader" style="display: none;"></div>
    </div>

    <div id="title-container">
        <div id="main-title"></div>
        <span id="refresh" style="display: none; cursor: pointer;" title="Refresh">&#10227;</span>
    </div>
</div>