<link rel="stylesheet" href="../static/css/panels/common.css">
<link rel="stylesheet" href="../static/css/panels/gmail.css">
<script type="text/javascript" src="../static/js/panels/common.js"></script>
<script type="text/javascript" src="../static/js/panels/gmail.js"></script>

<div id="auth-buttons">
  <a href="https://mail.google.com/mail/u/0/" target="_blank" id="gmail-link" style="display:none;">
    <img src="../static/images/gmail.png"> 
    <span id="user-email"></span>
  </a>
  <button id="authorize-button" style="display:none;" onclick="refresh('0', 'passive')">AUTHORIZE</button>
  <button id="signout-button" style="display:none;" onclick="googleSignout()">SIGN OUT</button>
</div>

<div id="initial-view" style="display: none;">
  <img id="initial-img" src="../static/images/gmail.png">
</div>

<div id="main-content">
  <div id="email-list"></div>

  <div id="email-container">
    <div id="email-positioner">
      <div id="content" style="display:none;"></div>
    </div>
  </div>
</div>

<div id="title-container">
  <div id="main-title"></div>
  <span id="refresh" style="display: none;" onclick="refresh('1', 'active')">&#10227;</span>
</div>