<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-3MMCC236VW"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'G-3MMCC236VW');
		</script>

		<title>Noo Tab</title>
		<meta name="description" content="Customize your new tab with a wide variety of popular productivity tools">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="shortcut icon" type="image/png" href="../static/images/favicon.ico">
		<link rel="canonical" href="https://nootab.com/">

		<link rel="stylesheet" href="../static/css/default/base.css">
		<link rel="stylesheet" href="../static/css/default/personalization.css">
		<link rel="stylesheet" href="../static/css/default/bookmarks.css">
		<link rel="stylesheet" href="../static/css/default/panels.css">

		<script type="text/javascript" src="../static/js/default/personalization.js"></script>
		<script type="text/javascript" src="../static/js/default/base.js"></script>
		<script type="text/javascript" src="../static/js/default/personalization_colour_select.js"></script>
		<script type="text/javascript" src="../static/js/default/bookmarks.js"></script>
		<script type="text/javascript" src="../static/js/default/panels.js"></script>

		<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
		<script src="../static/js/default/jquery.js"></script>
		<script src="../static/js/default/jquery-ui.js"></script>
	</head>
	<body>
		<div id="modalOverlay"></div>
		<div id="header">
			<div id="logo">
				<img src="../static/images/logo-awake.png">
				<div class="zzz-container">
					<div class="zzz-zzz"></div>
					<div class="zzz-zz"></div>
					<div class="zzz-z"></div>
				</div>
			</div>

			<div id="urlButtonContainer">
				<div id="urlButtons"></div>
				<div id="urlDivider"></div>
				<button id="editUrlButton">&#x270E;</button>
				<button id="openAllUrlsButton" onclick="openAllUrls()">LAUNCH</button>
			</div>

			<div id="bookmarksContent">
				<span class="close" id="close-links">&times;</span>
				<h1>BOOKMARKS</h1>
				<p id="launch-hint">All <span id="launch-link-text">&#9733;</span> bookmarks open when clicking <span id="launch-text">LAUNCH</span></p>
				<table id="bookmarkTable">
					<tbody id="bookmarkTableBody"></tbody>
				</table>
				<button id="addUrlButton" onclick="addUrlButton(event)">+</button>
			</div>

			<button id="darkmode-button"><img src="../static/images/dark-mode.png"></button><button class="colour-picker-button"><img id="colour-picker-image" src="../static/images/colour-wheel.png"></button>

			<div id="colourPickerContent">
				<span class="close" id="close-colour">&times;</span>
				<h1>COLOUR THEME</h1>
				<div class="colour-picker-container">
					<div class="colour-picker-tab">
						<theme-colour-picker id='primary-colour-picker'></theme-colour-picker>
						<p>Main</p>
						<input type="hidden" id="primary-colour-picker-hidden" name="primary-colour-picker" />
					</div>
					<div class="colour-picker-tab">
						<theme-colour-picker id='secondary-colour-picker'></theme-colour-picker>
						<p>Accent</p>
						<input type="hidden" id="secondary-colour-picker-hidden" name="secondary-colour-picker" />
					</div>
				</div>
				<button id="colourRandomSelect">
					<p class="rainbowText">Randomize</p>
				</button>
				<button id="colourPickerSubmit">Apply</button>
			</div>
		</div>

		<div id="arrangeSpacer">
			<button id="dataButton" onclick="openData()">DATA</button>
			<button id="arrangeButton" onclick="toggleSidePanel(event)">PANELS</button>
		</div>

		<div id="dataModal">
			<div id="data-modal-content">
				<span class="close" id="close-colour" onclick="closeModal()">&times;</span>
				<div id="data-modal-title">Manage Data</div>
				<button onclick="saveData()">Save Data</button>
				<button onclick="uploadData()">Upload Data</button>
				<button onclick="clearData()">Clear Data</button>
				<input type="file" id="fileInput" style="display: none;" accept="application/json" onchange="handleFileUpload(event)">
			</div>
		</div>

		<div id="sidePanel">
			<span class="close" id="close-colour" onclick="closePanel(event)">&times;</span>
			<table id="panelOrderList"></table>
			<div id="panelControls">
				<button id="notesButton" onclick="addToPanelOrder('notes')">Notes<span class="inf">&#8734;</span></button>
				<button id="checklistButton" onclick="addToPanelOrder('checklist')">Checklist<span class="inf">&#8734;</span></button>
				<button id="checklistButton" onclick="addToPanelOrder('gmail')">Gmail<span>1</span></button>
				<button id="checklistButton" onclick="addToPanelOrder('calendar')">Calendar<span>1</span></button>
				<button id="blankButton" onclick="addToPanelOrder('assets')">Assets<span>1</span></button>
				<button id="blankButton" onclick="addToPanelOrder('pathway')">Pathway<span>1</span></button>
				<button id="blankButton" onclick="addToPanelOrder('blank')">Blank<span class="inf">&#8734;</span></button>
				<button id="clearButton" onclick="clearPanelOrder()">Clear</button>
			</div>
		</div>
		
		<div id="panelContainer"></div>

		</div>
	</body>
</html>
